In [193]:
from pathlib import Path

import pandas as pd
import datetime 

basepath = Path.cwd().parent.parent
basepath

PosixPath('/mnt/c/Users/lrb1c20/Desktop/health_safety')

In [187]:
course_str_data = pd.read_csv(f"{basepath}/data/healthandsafety.csv")
course_str_data.replace({'-': None}, inplace=True)

/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py:3062: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [188]:
course_str_data.head(10)

,Name,Last Name,First Name,Username,ID,User Type,Faculty Name,Department Name,Date Subscribed,Course Quiz Item,Highest Score,Date Started,Highest Score Date,Last Score,Last Score Date,Completed
0,"Aasjoe, Allar",Aasjoe,Allar,aa2u16,28818121,student,Engineering and Physical Sciences,Engineering Education - Mechanical Engineering,08-09-16,5 Step Risk Assessment,None,None,None,None,None,N
1,"Aasjoe, Allar",Aasjoe,Allar,aa2u16,28818121,student,Engineering and Physical Sciences,Engineering Education - Mechanical Engineering,08-09-16,Computer Workstation Setup,None,None,None,None,None,N
2,"Aasjoe, Allar",Aasjoe,Allar,aa2u16,28818121,student,Engineering and Physical Sciences,Engineering Education - Mechanical Engineering,08-09-16,Covid -19 Return to Work Guidance Induction,None,None,None,None,None,N
3,"Aasjoe, Allar",Aasjoe,Allar,aa2u16,28818121,student,Engineering and Physical Sciences,Engineering Education - Mechanical Engineering,08-09-16,Display Screen Equipment - User Self Assessment,None,None,None,None,None,N
4,"Aasjoe, Allar",Aasjoe,Allar,aa2u16,28818121,student,Engineering and Physical Sciences,Engineering Education - Mechanical Engineering,08-09-16,DSE and Homeworking,None,None,None,None,None,N
5,"Aasjoe, Allar",Aasjoe,Allar,aa2u16,28818121,student,Engineering and Physical Sciences,Engineering Education - Mechanical Engineering,08-09-16,Fire Awareness,None,None,None,None,None,N
6,"Aasjoe, Allar",Aasjoe,Allar,aa2u16,28818121,student,Engineering and Physical Sciences,Engineering Education - Mechanical Engineering,08-09-16,Fire Evacuation Lift Operators Guide,3,10-29-20,10-29-20,3,10-29-20,Y
7,"Aasjoe, Allar",Aasjoe,Allar,aa2u16,28818121,student,Engineering and Physical Sciences,Engineering Education - Mechanical Engineering,08-09-16,Health and Safety Induction,None,10-29-20,None,0,10-29-20,N
8,"Aasjoe, Allar",Aasjoe,Allar,aa2u16,28818121,student,Engineering and Physical Sciences,Engineering Education - Mechanical Engineering,08-09-16,Interim Fire Warden,6,10-29-20,10-29-20,6,10-29-20,Y
9,"Aasjoe, Allar",Aasjoe,Allar,aa2u16,28818121,student,Engineering and Physical Sciences,Engineering Education - Mechanical Engineering,08-09-16,Manul Handling of Loads,None,None,None,None,None,N

In [189]:
def convert_datetime(course_str_data):
    cols_to_convert = ["Date Subscribed", "Date Started", "Last Score Date"]
    return convert_cols(cols_to_convert, course_str_data)

In [190]:
def convert_cols(cols_to_convert, course_data):
    for col in cols_to_convert:
        course_data[col] = course_data[col].apply(pd.to_datetime, errors='coerce')
    return course_data

In [191]:
course_data = convert_datetime(course_str_data)

In [172]:
course_data.head(10)

,Name,Last Name,First Name,Username,ID,User Type,Faculty Name,Department Name,Date Subscribed,Course Quiz Item,Highest Score,Date Started,Highest Score Date,Last Score,Last Score Date,Completed
0,"Aasjoe, Allar",Aasjoe,Allar,aa2u16,28818121,student,Engineering and Physical Sciences,Engineering Education - Mechanical Engineering,08-09-16,5 Step Risk Assessment,None,None,None,None,None,N
1,"Aasjoe, Allar",Aasjoe,Allar,aa2u16,28818121,student,Engineering and Physical Sciences,Engineering Education - Mechanical Engineering,08-09-16,Computer Workstation Setup,None,None,None,None,None,N
2,"Aasjoe, Allar",Aasjoe,Allar,aa2u16,28818121,student,Engineering and Physical Sciences,Engineering Education - Mechanical Engineering,08-09-16,Covid -19 Return to Work Guidance Induction,None,None,None,None,None,N
3,"Aasjoe, Allar",Aasjoe,Allar,aa2u16,28818121,student,Engineering and Physical Sciences,Engineering Education - Mechanical Engineering,08-09-16,Display Screen Equipment - User Self Assessment,None,None,None,None,None,N
4,"Aasjoe, Allar",Aasjoe,Allar,aa2u16,28818121,student,Engineering and Physical Sciences,Engineering Education - Mechanical Engineering,08-09-16,DSE and Homeworking,None,None,None,None,None,N
5,"Aasjoe, Allar",Aasjoe,Allar,aa2u16,28818121,student,Engineering and Physical Sciences,Engineering Education - Mechanical Engineering,08-09-16,Fire Awareness,None,None,None,None,None,N
6,"Aasjoe, Allar",Aasjoe,Allar,aa2u16,28818121,student,Engineering and Physical Sciences,Engineering Education - Mechanical Engineering,08-09-16,Fire Evacuation Lift Operators Guide,3,None,10-29-20,3,None,Y
7,"Aasjoe, Allar",Aasjoe,Allar,aa2u16,28818121,student,Engineering and Physical Sciences,Engineering Education - Mechanical Engineering,08-09-16,Health and Safety Induction,None,None,None,0,None,N
8,"Aasjoe, Allar",Aasjoe,Allar,aa2u16,28818121,student,Engineering and Physical Sciences,Engineering Education - Mechanical Engineering,08-09-16,Interim Fire Warden,6,None,10-29-20,6,None,Y
9,"Aasjoe, Allar",Aasjoe,Allar,aa2u16,28818121,student,Engineering and Physical Sciences,Engineering Education - Mechanical Engineering,08-09-16,Manul Handling of Loads,None,None,None,None,None,N

In [53]:
x.head(10)

,Name,Last Name,First Name,Username,ID,User Type,Faculty Name,Department Name,Date Subscribed,Course Quiz Item,Highest Score,Date Started,Highest Score Date,Last Score,Last Score Date,Completed
0,"Aasjoe, Allar",Aasjoe,Allar,aa2u16,28818121,student,Engineering and Physical Sciences,Engineering Education - Mechanical Engineering,08-09-16,5 Step Risk Assessment,None,NaT,None,None,NaT,N
1,"Aasjoe, Allar",Aasjoe,Allar,aa2u16,28818121,student,Engineering and Physical Sciences,Engineering Education - Mechanical Engineering,08-09-16,Computer Workstation Setup,None,NaT,None,None,NaT,N
2,"Aasjoe, Allar",Aasjoe,Allar,aa2u16,28818121,student,Engineering and Physical Sciences,Engineering Education - Mechanical Engineering,08-09-16,Covid -19 Return to Work Guidance Induction,None,NaT,None,None,NaT,N
3,"Aasjoe, Allar",Aasjoe,Allar,aa2u16,28818121,student,Engineering and Physical Sciences,Engineering Education - Mechanical Engineering,08-09-16,Display Screen Equipment - User Self Assessment,None,NaT,None,None,NaT,N
4,"Aasjoe, Allar",Aasjoe,Allar,aa2u16,28818121,student,Engineering and Physical Sciences,Engineering Education - Mechanical Engineering,08-09-16,DSE and Homeworking,None,NaT,None,None,NaT,N
5,"Aasjoe, Allar",Aasjoe,Allar,aa2u16,28818121,student,Engineering and Physical Sciences,Engineering Education - Mechanical Engineering,08-09-16,Fire Awareness,None,NaT,None,None,NaT,N
6,"Aasjoe, Allar",Aasjoe,Allar,aa2u16,28818121,student,Engineering and Physical Sciences,Engineering Education - Mechanical Engineering,08-09-16,Fire Evacuation Lift Operators Guide,3,2020-10-29,10-29-20,3,2020-10-29,Y
7,"Aasjoe, Allar",Aasjoe,Allar,aa2u16,28818121,student,Engineering and Physical Sciences,Engineering Education - Mechanical Engineering,08-09-16,Health and Safety Induction,None,2020-10-29,None,0,2020-10-29,N
8,"Aasjoe, Allar",Aasjoe,Allar,aa2u16,28818121,student,Engineering and Physical Sciences,Engineering Education - Mechanical Engineering,08-09-16,Interim Fire Warden,6,2020-10-29,10-29-20,6,2020-10-29,Y
9,"Aasjoe, Allar",Aasjoe,Allar,aa2u16,28818121,student,Engineering and Physical Sciences,Engineering Education - Mechanical Engineering,08-09-16,Manul Handling of Loads,None,NaT,None,None,NaT,N

In [195]:
not_completed = course_data[course_data["Completed"]=="N"]

In [200]:
departments = not_completed["Department Name"].unique()

In [209]:
departments

array(['Engineering Education - Mechanical Engineering',
       'School of Health Sciences', 'Estates & Facilities',
       'Faculty of Medicine',
       'Civil, Maritime & Environmental Engineering',
       'Engineering Education - Central',
       'Primary Care, Population Sciences and Medical Education',
       'Social Statistics & Demography', 'Southampton Business School',
       'Zepler Institute for Photonics and Nanoelectronics',
       'School of Humanities', 'School of Electronics & Computer Science',
       'School of Geography and Environmental Science',
       'School of Chemistry', 'Clinical and Experimental Sciences',
       'Faculty Central (FEPS)', 'Southampton Education School',
       'School of Biological Sciences', 'School of Psychology',
       'Residences', 'School of Ocean and Earth Science',
       'Finance, Planning & Analytics', 'Faculty of Arts and Humanities',
       'Faculty of Environmental and Life Sciences',
       'National Oceanography Centre', 'Modern Languages and Linguistics',
       'Academic Centre for International Students',
       'Research & Innovation Services', 'Faculty Central (FSS)',
       'iSolutions', 'Legal Services & Research Governance',
       'Student Services', 'Cancer Sciences', 'School of Engineering',
       'Library & the Arts', 'School of Physics & Astronomy',
       'Human Development and Health', 'Faculty of Social Sciences',
       'Archaeology', 'Student & Academic Administration',
       'Winchester School of Art', 'Professional Services',
       'School of Mathematical Sciences',
       'Institute of Sound & Vibration Research',
       'Aeronautical and Astronautical Engineering', 'Music',
       'Faculty Central (FELS)', 'Mechanical Engineering', 'VC Office',
       "Students' Union",
       'School of Economic, Social and Political Sciences',
       'Global Recruitment and Admissions', 'Faculty Central (Medicine)',
       'Enterprise', 'Institute for Life Sciences', 'English',
       'Faculty of Engineering and Physical Sciences',
       'Southampton Law School', 'Nursing, Midwifery and Health',
       'Change Portfolio Office', 'History', 'Economics',
       'Widening Participation and Social Mobility',
       'Sociology, Social Policy & Criminology',
       'Centre for Innovation & Leadership in Health Sciences',
       'Engagement & Advancement', 'Wessex Institute',
       'Politics & International Relations', 'Risk, Health and Safety',
       'Film Studies', 'Allied Health Professions', 'Human Resources',
       'Philosophy', 'Engineering Education - Aerospace Engineering',
       'Faculty Central (Arts and Humanities)',
       'Centre for Higher Education Practice', 'Central',
       'Marine & Maritime Institute', 'Engineering Development Trust',
       'Gerontology', None, 'iSolutions (external customers)',
       'Engineering Education - Audiology', 'Faculty Operations',
       'Engineering Education - Energy'], dtype=object)

In [207]:
n_list = {}

for d in departments:    
    n_list[d] = not_completed[not_completed["Department Name"] == d]

In [210]:
n_list["Estates & Facilities"]

,Name,Last Name,First Name,Username,ID,User Type,Faculty Name,Department Name,Date Subscribed,Course Quiz Item,Highest Score,Date Started,Highest Score Date,Last Score,Last Score Date,Completed
38,"Abad Ovalle, Luis",Abad Ovalle,Luis,lao1m18,2792281,staff,Professional Services,Estates & Facilities,2018-03-16,5 Step Risk Assessment,None,NaT,None,None,NaT,N
39,"Abad Ovalle, Luis",Abad Ovalle,Luis,lao1m18,2792281,staff,Professional Services,Estates & Facilities,2018-03-16,Computer Workstation Setup,None,NaT,None,None,NaT,N
40,"Abad Ovalle, Luis",Abad Ovalle,Luis,lao1m18,2792281,staff,Professional Services,Estates & Facilities,2018-03-16,Covid -19 Return to Work Guidance Induction,None,NaT,None,None,NaT,N
41,"Abad Ovalle, Luis",Abad Ovalle,Luis,lao1m18,2792281,staff,Professional Services,Estates & Facilities,2018-03-16,Display Screen Equipment - User Self Assessment,None,NaT,None,None,NaT,N
42,"Abad Ovalle, Luis",Abad Ovalle,Luis,lao1m18,2792281,staff,Professional Services,Estates & Facilities,2018-03-16,DSE and Homeworking,None,NaT,None,None,NaT,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295293,"Zieba, Anna",Zieba,Anna,amz1r19,2830035,staff,Professional Services,Estates & Facilities,2019-01-16,Stress Awareness Course V1,None,NaT,None,None,NaT,N
295294,"Zieba, Anna",Zieba,Anna,amz1r19,2830035,staff,Professional Services,Estates & Facilities,2019-01-16,The Provision and Use of Work Equipment Regula...,None,NaT,None,None,NaT,N
295295,"Zieba, Anna",Zieba,Anna,amz1r19,2830035,staff,Professional Services,Estates & Facilities,2019-01-16,"Transport of Biological Agents by Road, Rail ...",None,NaT,None,None,NaT,N
295296,"Zieba, Anna",Zieba,Anna,amz1r19,2830035,staff,Professional Services,Estates & Facilities,2019-01-16,Which Microbiological Safety Cabinet do i need,None,NaT,None,None,NaT,N
295297,"Zieba, Anna",Zieba,Anna,amz1r19,2830035,staff,Professional Services,Estates & Facilities,2019-01-16,Work at Height,None,NaT,None,None,NaT,N

In [212]:
n_list["Zepler Institute for Photonics and Nanoelectronics"]

,Name,Last Name,First Name,Username,ID,User Type,Faculty Name,Department Name,Date Subscribed,Course Quiz Item,Highest Score,Date Started,Highest Score Date,Last Score,Last Score Date,Completed
209,"Abbas, Omar",Abbas,Omar,oaa1y14,26962047,student,Engineering and Physical Sciences,Zepler Institute for Photonics and Nanoelectro...,2015-05-06,5 Step Risk Assessment,None,NaT,None,None,NaT,N
210,"Abbas, Omar",Abbas,Omar,oaa1y14,26962047,student,Engineering and Physical Sciences,Zepler Institute for Photonics and Nanoelectro...,2015-05-06,Computer Workstation Setup,None,NaT,None,None,NaT,N
211,"Abbas, Omar",Abbas,Omar,oaa1y14,26962047,student,Engineering and Physical Sciences,Zepler Institute for Photonics and Nanoelectro...,2015-05-06,Covid -19 Return to Work Guidance Induction,None,NaT,None,None,NaT,N
212,"Abbas, Omar",Abbas,Omar,oaa1y14,26962047,student,Engineering and Physical Sciences,Zepler Institute for Photonics and Nanoelectro...,2015-05-06,Display Screen Equipment - User Self Assessment,None,NaT,None,None,NaT,N
213,"Abbas, Omar",Abbas,Omar,oaa1y14,26962047,student,Engineering and Physical Sciences,Zepler Institute for Photonics and Nanoelectro...,2015-05-06,DSE and Homeworking,None,NaT,None,None,NaT,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295635,"Zuba, Viktor",Zuba,Viktor,vz1e19,31474896,student,Engineering and Physical Sciences,Zepler Institute for Photonics and Nanoelectro...,2019-09-24,Stress Awareness Course V1,None,NaT,None,None,NaT,N
295636,"Zuba, Viktor",Zuba,Viktor,vz1e19,31474896,student,Engineering and Physical Sciences,Zepler Institute for Photonics and Nanoelectro...,2019-09-24,The Provision and Use of Work Equipment Regula...,None,NaT,None,None,NaT,N
295637,"Zuba, Viktor",Zuba,Viktor,vz1e19,31474896,student,Engineering and Physical Sciences,Zepler Institute for Photonics and Nanoelectro...,2019-09-24,"Transport of Biological Agents by Road, Rail ...",None,NaT,None,None,NaT,N
295638,"Zuba, Viktor",Zuba,Viktor,vz1e19,31474896,student,Engineering and Physical Sciences,Zepler Institute for Photonics and Nanoelectro...,2019-09-24,Which Microbiological Safety Cabinet do i need,None,NaT,None,None,NaT,N
295639,"Zuba, Viktor",Zuba,Viktor,vz1e19,31474896,student,Engineering and Physical Sciences,Zepler Institute for Photonics and Nanoelectro...,2019-09-24,Work at Height,None,NaT,None,None,NaT,N

In [211]:
len(n_list)

85